<html>
  <head>
    <meta charset="utf-8">
    <title>Cyrano</title>
    <script src="../static/jquery-1.4.2.min.js"></script>
    <script>
      kozosnevek = [] //csúnya persze hogy globális, de nem akarok rájönni, hogy kéne nemcsúnyán.
toldalekol = function(string) {
  var utolso_karakter = string.charAt(string.length-1);
  var magas_maganhangzok = ["e", "é", "í", "ö", "ő", "ü", "ű"];
  var mely_maganhangzok = ["a", "á", "o", "ó", "u", "ú", ];
  if ( utolso_karakter === utolso_karakter.toUpperCase() ) {
    // többesszám lecsalható.
    return string + "-s";
  } else if ( magas_maganhangzok.indexOf(utolso_karakter) >= 0 || mely_maganhangzok.indexOf(utolso_karakter) >= 0) {
    // ha benne van az indexben, akkor magánhangzó. végére csapunk egy s-t. kivéve: eszperente -> eszperentés
    if (utolso_karakter === "e") {
      return string.replace(/e$/, "és");
    }
    if (utolso_karakter === "a") {
      return string.replace(/a$/, "ás");
    } 
    else return string + "s";
  } else if ( magas_maganhangzok.indexOf(utolso_karakter) < 0  || mely_maganhangzok.indexOf(utolso_karakter) >= 0) {
    // ha nincs benne az indexben, -1 az eredmény. tehát mássalhangzó.
    // az utolsó magánhangzó alapján hangrend.
    var pozicio = string.length-2; // azt már tudjuk, hogy nem az utolsó
    for ( i=pozicio; i>=0; i-- ) {
      if ( magas_maganhangzok.indexOf(string[i]) >= 0 || mely_maganhangzok.indexOf(string[i]) >= 0 ) {
      // itt az utolsó magánhangzó. mély vagy magas?
      if ( magas_maganhangzok.indexOf(string[i]) >= 0 ) {
        return string + "es"; 
      } else {
        return string + "os";
      }
      break;
    } else {
        return string + "-s"
      }

    } 

  }
}

  function render_kartya (nev, adat) {
    prefix = "http://iwiw.hu"
    $("<div>", {"class": "hkartotek"})
      .append ( $("<div>", {"html": nev}) ) 
        .append ( $("<a>", {"class": "nyil", "href":"#","html": "&larr;", "click": function() { if ( $(this).siblings(".doboz").scrollLeft() !== 0) { $(this).siblings(".doboz").scrollLeft( $(".doboz").scrollLeft() - 212 ) }; return false; } }) )
      .append ( $("<a>", {"class": "nyil", "href": "#", "html": "&rarr;", "click": function() { if ( $(this).siblings(".doboz").scrollLeft() !== $(this).siblings(".csuszka").width() ) { $(this).siblings(".doboz").scrollLeft( $(this).siblings(".doboz").scrollLeft() + 212 ) }; return false; } }) )
      .append ( $("<div>", {"class": "doboz"}).append( $("<div>", {"class":"csuszka"}) ) )
      .appendTo("body");
      if (adat.length === 1) { $(".hkartotek :last .nyil").hide() }
      $.each(adat, function(i, lap) {
        $("<div>", {"class": "hcard"})
          .append( $("<div>", {"class": "fn nickname", "html": lap.nick, "title": lap.name}) )
          .append( $("<div>", {"class": "adr locality", "html": lap.city}) )
          .append( $("<a>", {"class": "url", "html": "További info &gt; &gt;", "title": "Mutasd a kapcsolódó iWiW profilt", "href": prefix + lap.profile_url, "target": "_blank"}) )
          .append( $("<a>", {"class": "profilepic", "target": "_blank", "href": prefix + lap.pic_popup_url}).append( $("<img>", {"src": lap.pic_thumbnail, "class": "photo"}) ) )
          .appendTo(".hkartotek:last .csuszka");
        })
     $(".hkartotek:last .csuszka").css("width", adat.length * 215)
  }


      nyutoken = function(szoveg, melyik) {
        if (!$("#token-" + melyik).length) {
          $(".filterek").append($("<span>", {
             "class":"token", 
             "id": "token-" + melyik,
             "html": szoveg.replace(/ /g, "&nbsp;"), 
             "title": "A szűrési feltétel törléséhez kattints ide",
             "click": function(){ 
               $(this).remove();
               $("#iwiw input[name='"+ melyik +"']").attr("checked", false).val("");
               //nemígykéne, hanem általánosabban, éló:
               if (melyik === "ageFrom") {
                 $("#iwiw input[name='"+ melyik +"']").val("18");
               }
             } 
          }))
        } else {
          $("#token-" + melyik).text(szoveg);
        }
      }

      $(document).ready(function() {
        $("#filter-iwiw").click(function() {
          $(".filter#iwiw").css({"top": $("#filter-iwiw").position().top + $("#filter-iwiw").height(), "left":  $("#filter-iwiw").position().left }).toggle();
          $(".filter#kurzus").hide();
          $("#filter-kurzus").removeClass("clicked");
          $("#filter-iwiw").toggleClass("clicked");
          return false;
        })
        $("#filter-kurzus").click(function() {
          $("#filter-iwiw").removeClass("clicked");
          $(".filter#iwiw").hide();
          $(".filter#kurzus").css({"top": $("#filter-kurzus").position().top + 5 + $("#filter-kurzus").height(), "left":  $("#filter-kurzus").position().left }).toggle();
          $("#filter-kurzus").toggleClass("clicked");
          return false;
        })
        $("input[name='gender']").change(function() {
          nyutoken( $("label[for='"+ this.id +"']").text() , "gender" );
        })        
        $("input[name='withPhoto']").change(function() {
          if ( $(this).is(":checked") ) {
            nyutoken("fényképpel rendelkező", "withPhoto") ;
          } 
          else {
            $("#token-withPhoto").remove();
          }
        })
        $("input[name='ageFrom']").change(function() {
         nyutoken( $(this).val() + " évnél idősebb", "ageFrom") 
        })
        $("input[name='ageTo']").change(function() {
         nyutoken( $(this).val() + " évnél fiatalabb", "ageTo") 
        })
        $("input[name='univ']").change(function() {
         nyutoken( toldalekol($(this).val()), "univ")
        })
	$("#kurzus form").change(function() {
		var darab = $("#kurzus form input:checked").length;
	  if (darab === 0) {
	        $("#kurzus-count").text("")
      		$(".tobbesszam").show()
   	 }
	 else {
	        $(".tobbesszam").hide();
	        $("#kurzus-count").text(darab)
    	}
	})

  $(".filter").mouseleave(function() {
    //ez konkrétan undorító. ez az automatikus becsukódása a részletpickernek, de fúúj.
    $(".filter").hide();
    $(".filtergomb").removeClass("clicked");
  })

//kurzuslista benépesítése: volt step-2
$("#login").submit(function() {
  $("#login :submit").val("(pillanat, ez kicsit lassan szokott menni)").attr("disabled", true)
  $.ajax({
    "type": "POST",
    "url": "/etr/kurzustabla",
    "data": $(this).serialize(),
    "success": function(data) { 
      $("#error-login").hide()
      $.each(data, function() {
        $("<li/ >").append($("<input>", {"type": "checkbox", "name": "kurzus", "id":this.kurzusid, "value":this.kurzusid})).append($("<label>", {"for":this.kurzusid, "html": this.kurzuskod + " - " + this.cim})).appendTo("#kurzus form ul")
        })
        $("#login").hide()
      },
      "error": function(data) { $("#login :submit").val("bejelentkezem").attr("disabled", false); $("#error-login").show() },
      "dataType": "json"
    })
    return false
  })

  // mutasd
  $("button#muti").click(function() {
    if ( $("#login").is(":visible") ) {
      alert("előbb jelentkezz be");
      } else {
      $("#mondat button").attr("disabled", true);
      $("#doboz, #megjegyzesdoboz").empty();
    $.ajax({
      "type": "POST",
      "url": "/kozos",
      "data": $("#login, #kurzus form").serialize(),
      "success": function(data) {
          kozosnevek = data;
          console.log(kozosnevek);
          $.each(kozosnevek, function() {
            var lastName = this.split(" ")[0];
            var firstName = this.split(" ")[1];
            var nev = String(this);
            $.ajax({
              "type": "GET",
              "url" : "/iwiw/search",
              "data": $("#iwiw form").serialize() + "&lastName=" + encodeURI(lastName) + "&firstName=" + encodeURI(firstName),
              "dataType": "json",
              "success": function (data) { render_kartya(nev, data); },
              "error": function(data) { $("#megjegyzesdoboz").append("nem találtam: " + nev + "<br>");  }
            })
          })
      },
      "dataType": "json"
    }); $("#mondat button").attr("disabled", false)
  }
  })
})

    </script>
    <link rel="stylesheet" href="../static/uj.css">
  </head>
  <body>
    <h1>Cyrano</h1>
    <form id="login" > 
      <label for="felhasznalonev">ETR felhasználónév</label> <input id="felhasznalonev" name="felhasznalonev" type="text" value=""> 
      <label for="jelszo">jelszó</label> <input id="jelszo" name="jelszo" type="password" value=""> 
      <input type="submit" value="bejelentkezem"> 
    </form> 
    <div id="error-login" class="error">Nem sikerült bejelentkezni. Ellenőrizd jól írtad-e a jelszavad és próbáld újra.</div>
    <div id="mondat">A <a href="#" id="filter-kurzus" class="filtergomb">kijelölt <span id="kurzus-count"></span> kurzus<span class="tobbesszam">ok</span>ra</a> velem együtt járó együtt <a href="#" title="Szűrési feltételek beállításához kattints ide" id="filter-iwiw" class="filtergomb">összes</a> <span class="filterek"></span> csoptárs<span class="targyrag">am</span> <button id="muti">mutasd</button></div>
    <div id="iwiw" class="filter">
      <form onsubmit="return false">
      <input type="radio" name="gender" value="0" id="lany"><label for="lany" class="dzsendor">lány</label>
      <input type="radio" name="gender" value="1" id="fiu"><label for="fiu" class="dzsendor">fiú</label>
      <input type="checkbox" id=withPhoto" name="withPhoto" value="0" ><label for=withPhoto">csak fényképes</label><br>
      <label for="ageFrom">életkor</label><input type="number" size=2 value=18 name="ageFrom" id="ageFrom">-tól <input type="number" size=2 name="ageTo" id="ageTo">-ig<br/>
      <label for="school_univ">szak</label><input type="text" name="school_univ" id="school_univ" value="ELTE">
        <!--becenév
        életkor
        nem
        szak
        kép
        magamról
        családi állapot -->
      </form>
    </div> 
    <div id="kurzus" class="filter">
      <form onsubmit="return false">
      <ul>
      </ul>
      </form>
    </div>
    <div id="doboz">
    </div>
    <div id="megjegyzesdoboz"></div>
  </body>
</html>
